html,body { width: 100%;height: 100%;color: #fff; }
a { text-decoration: none; }


.container { width: 100%;height: 100%; }
.head { width: 100%;padding: 10px 0;overflow: hidden;position: fixed;z-index: 1; }
.head-left { width: 40%;float: left;margin-left: 10px; }
.head-right { color: #01b3de;border: 1px solid #01b3de;float: right;margin: 0;border-radius: 15px;padding: 0 10px;line-height: 160%;margin-right: 10px; }


.page { width: 100%;position: fixed;text-align: center;bottom: 46px;animation: updown 1s;animation-iteration-count: infinite;animation-direction: alternate;z-index: 1; }
.page img { width: 7%;/*animation: breath 1s;animation-iteration-count: infinite;animation-direction: alternate;*/ }
/*@keyframes updown {
  0% { bottom: 40px; }
  
  100% { bottom: 30px; }
}
@keyframes breath {
  0% { width: 7%;margin-top: 0; }
  
  100% { width: 10%;margin-top: 10px; }
}*/
@keyframes updown {
  from { -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);opacity: 0; }
  to { -webkit-transform: translate3d(0,12px,0);transform: translate3d(0,12px,0);opacity: 1; }
}


.mod-main { width: 100%;height: 100%;text-align: center; }
.mod-con { width: 100%;padding-bottom: 50px; }
.logo { width: 66.6%; }
.mod_text { color: #fff;width: 100%;font-size: 20px;margin: 60px 0; }
.mod_text_min { font-size: 14px;color: #fff;text-align: left;display: inline-block; }
.alicloud { width: 21%; }
.intel { width: 9.8%;margin-left: 20px; }
.mod-footer { width: 100%;position: absolute;bottom: 0;color: #fff;text-align: center;font-size: 14px; }


.page-home { background: url("../img/bg.jpg");background-size: cover; }


.page-1 { background: url("../img/one-bg.jpg");background-size: cover; }
.one { width: 8.4%; }


.agenda { background: url("../img/agenda-bg.jpg");background-size: cover; }
.agenda_title { font-size: 28px;color: #fcd400; }
.agenda_con ul li { text-align: left;font-size: 13px;width: 77%;
    margin: auto; }
.agenda_con ul li p { line-height: 24px;margin: 0; }
.speaker { padding-left: 92px; }


.partner { background: url("../img/partner-bg.jpg");background-size: cover; }
.partner-title p { font-size: 28px;color: #000;margin: 0; }
.underline { font-size: 0;margin-top: 6px; }
.underline img { width: 25.8%; }
.intel-big { margin: 30px 0 40px; }
.intel-big img { width: 22.3%; }
.underline-small img { width: 13.1%; }
.gratitude { margin-top: 20px; }
.gratitude img { width: 43.75%; }
.addr_con { margin: 70px 0;line-height: 30px; }


.addr { background: url("../img/addr-bg.jpg");background-size: cover; }
.addr_title { font-size: 28px;color: #fcd400; }


.none { display: none; }


.hengping { width: 100%;height: 100%;background: url("../img/block.jpg");background-size: cover;display: block !important; }
.landscape div { display: none; }


.mod-middle {
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  
  display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;
  
  display:-o-box;
  -o-box-orient:horizontal;
  -o-box-pack:center;
  -o-box-align:center;
  
  display:-ms-box;
  -ms-box-orient:horizontal;
  -ms-box-pack:center;
  -ms-box-align:center;
  
  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;
}
